SERVER_PORT=8082

DATABASE_URL=postgresql://clube:clube@localhost:5432/clube_do_album
DATABASE_USERNAME=clube
DATABASE_PASSWORD=clube

RABBITMQ_URL=amqp://clube:clube@localhost:5672
RABBITMQ_USERNAME=clube
RABBITMQ_PASSWORD=clube
